<p id="notice"><%= notice %></p>

<h1>Listing Song Requests</h1>

<table width = "100%" BORDER=1 CELLPADDING=3 CELLSPACING=1 
    RULES=ROWS FRAME=BOX>
  <thead>
    <tr>
      <th>Dedicated to</th>
      <th>URL (youtube.com)</th>
      <th width="30%">Youtube Song Description</th>
      <th>Message</th>
      <th>Requestor</th>
      <th>State</th>
    </tr>
  </thead>

  <tbody>
    <% admin_secret_present = params[Jukebox::Application.config.admin_secret].present? %>
    <% @song_requests.each do |song_request| %>
      <tr align="center">
        <td><%= song_request.dedicated_to %></td>
        <td><%= song_request.song_url.gsub(/http(s)?:\/\/[w]*?[.]youtube[.]com/,"").split('&').first %></td>
        <td><%= song_request.description ? song_request.description.gsub("\n","<br>").html_safe : "" %></td>
        <td><%= song_request.message %></td>
        <td><%= song_request.requestor %></td>
        <td><%= song_request.status %><% if song_request.status == "Error" || admin_secret_present %>
          <br/><%= link_to 'Retry', retry_song_request_path(song_request), method: :put%>
        <%end%>
        <% if admin_secret_present && !%w(Error Enqueued).include?(song_request.status) %>
          <%= link_to 'Enqueue', enqueue_song_request_path(song_request, admin_secret: Jukebox::Application.config.admin_secret), target: :new%>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song request', new_song_request_path %>
