<p id="notice"><%= notice %></p>

<h1>Listing Song Requests</h1>

<table width = "100%">
  <thead>
    <tr>
      <th>Dedicated to</th>
      <th>Youtube Song</th>
      <th>Message</th>
      <th>Requestor</th>
      <th>State</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @song_requests.each do |song_request| %>
      <tr align="center">
        <td><%= song_request.dedicated_to %></td>
        <td><%= song_request.file_id %> - <%= song_request.description ? song_request.description.gsub("\n","<br>").html_safe : "" %></td>
        <td><%= song_request.message %></td>
        <td><%= song_request.requestor %></td>
        <!--td><%= song_request.file_id %></td-->
        <td><%= song_request.status %></td>
        <td>
        <% if song_request.status == "Error" %>
          <%= link_to 'Retry', retry_song_request_path(song_request), method: :put%>
        <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song request', new_song_request_path %>
