<p id="notice"><%= notice %></p>

<p>
  <strong>Dedicated to:</strong>
  <%= @song_request.dedicated_to %>
</p>

<p>
  <strong>youtube Song url:</strong>
  <%= @song_request.song_url %>
</p>

<p>
  <strong>Message:</strong>
  <%= @song_request.message %>
</p>

<p>
  <strong>Requestor:</strong>
  <%= @song_request.requestor %>
</p>

<p>
  <strong>File:</strong>
  <%= @song_request.file_id %>
</p>

<%= link_to 'Back', song_requests_path %>
